

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://unsplash.com/photos/interior-design-of-modern-apartment-gray-sofa-in-contemporary-living-room-blue-stucco-mockup-wall-home-design-3d-rendering-ajcet7UJJwY" alt="Card image cap">
  <div class="card-body">
      <h2><%= flat.name %></h2>
      <h3><%= flat.address %><h3>

    <p>
      <strong>Description:</strong>
      <%= flat.description %>
    </p>
    <p>
      <i class="fa-regular fa-money-bill-1"></i> <%= flat.price_per_night %>
    </p>
    <p>
      <i class="fa-solid fa-people-line"></i> <%= flat.number_of_guests %>
    </p>
  </div>
</div>
